In [1]:
import pandas as pd
from pymongo import MongoClient

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://******:**********@ds163764.mlab.com:63764/heroku_pptb0bm8'
client = MongoClient(conn)

In [3]:
# Define database and collection
db = client.heroku_pptb0bm8
collection = db.worldbank

In [4]:
#file to load
worldbank_path='World_Bank_data.csv'

In [5]:
#read in CSV and store in Pandas df
worldbank_df= pd.read_csv(worldbank_path, encoding="utf-8")
worldbank_df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,1/30/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2017.000000,2018.000000
4,"Venezuela, RB",VEN,"Employment in services, female (% of female em...",SL.SRV.EMPL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.498000e+01,8.552100e+01,8.620300e+01,8.683500e+01,8.855000e+01,8.787100e+01,8.487500e+01,8.307200e+01,82.676002,83.061996
5,"Venezuela, RB",VEN,Child employment in services (% of economicall...,SL.SRV.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.886000e+01,NaN,NaN,NaN,NaN,NaN
6,"Venezuela, RB",VEN,"Child employment in services, male (% of male ...",SL.SRV.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.907000e+01,NaN,NaN,NaN,NaN,NaN
7,"Venezuela, RB",VEN,"Child employment in services, female (% of fem...",SL.SRV.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.115000e+01,NaN,NaN,NaN,NaN,NaN
8,"Venezuela, RB",VEN,"Children in employment, self-employed (% of ch...",SL.SLF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.739000e+01,NaN,NaN,NaN,NaN,NaN
9,"Venezuela, RB",VEN,"Children in employment, self-employed, male (%...",SL.SLF.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.041000e+01,NaN,NaN,NaN,NaN,NaN
10,"Venezuela, RB",VEN,"Children in employment, self-employed, female ...",SL.SLF.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.031000e+01,NaN,NaN,NaN,NaN,NaN
11,"Venezuela, RB",VEN,Child employment in manufacturing (% of econom...,SL.MNF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.370000e+00,NaN,NaN,NaN,NaN,NaN
12,"Venezuela, RB",VEN,"Child employment in manufacturing, male (% of ...",SL.MNF.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.250000e+00,NaN,NaN,NaN,NaN,NaN
13,"Venezuela, RB",VEN,"Child employment in manufacturing, female (% o...",SL.MNF.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.660000e+00,NaN,NaN,NaN,NaN,NaN
14,"Venezuela, RB",VEN,Informal employment (% of total non-agricultur...,SL.ISV.IFRM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Venezuela, RB",VEN,"Informal employment, male (% of total non-agri...",SL.ISV.IFRM.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Venezuela, RB",VEN,"Informal employment, female (% of total non-ag...",SL.ISV.IFRM.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Venezuela, RB",VEN,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.463700e+01,2.392800e+01,2.368500e+01,2.296500e+01,2.132600e+01,2.148200e+01,2.364500e+01,2.324200e+01,23.263000,23.561001
18,"Venezuela, RB",VEN,"Employment in industry, male (% of male employ...",SL.IND.EMPL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.210100e+01,3.121800e+01,3.120400e+01,3.040400e+01,2.871800e+01,2.868600e+01,3.097600e+01,3.018000e+01,29.775999,30.056999
19,"Venezuela, RB",VEN,"Employment in industry, female (% of female em...",SL.IND.EMPL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.308900e+01,1.256200e+01,1.206700e+01,1.154100e+01,1.012100e+01,1.062100e+01,1.261000e+01,1.263700e+01,13.353000,13.727000
20,"Venezuela, RB",VEN,GDP per person employed (constant 2011 PPP $),SL.GDP.PCAP.EM.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.076003e+04,3.969803e+04,4.028765e+04,4.193257e+04,4.166141e+04,3.907799e+04,3.622111e+04,3.245498e+04,29143.365230,26797.062500
21,"Venezuela, RB",VEN,"Contributing family workers, total (% of total...",SL.FAM.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.116000e+00,3.058000e+00,3.258000e+00,2.764000e+00,2.591000e+00,1.872000e+00,2.431000e+00,3.026000e+00,4.413000,4.974000
22,"Venezuela, RB",VEN,"Contributing family workers, male (% of male e...",SL.FAM.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.482000e+00,2.325000e+00,2.468000e+00,2.000000e+00,1.864000e+00,1.281000e+00,1.794000e+00,2.438000e+00,3.837000,4.340000
23,"Venezuela, RB",VEN,"Contributing family workers, female (% of fema...",SL.FAM.WORK.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.099000e+00,4.202000e+00,4.478000e+00,3.937000e+00,3.696000e+00,2.762000e+00,3.391000e+00,3.930000e+00,5.288000,5.934000
24,"Venezuela, RB",VEN,"Children in employment, unpaid family workers ...",SL.FAM.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.669000e+01,NaN,NaN,NaN,NaN,NaN
25,"Venezuela, RB",VEN,"Children in employment, unpaid family workers,...",SL.FAM.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.743000e+01,NaN,NaN,NaN,NaN,NaN
26,"Venezuela, RB",VEN,"Children in employment, unpaid family workers,...",SL.FAM.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.839000e+01,NaN,NaN,NaN,NaN,NaN
27,"Venezuela, RB",VEN,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735600e+01,6.613800e+01,6.603600e+01,6.670600e+01,6.682300e+01,6.765600e+01,6.682800e+01,6.572400e+01,64.127998,63.609001
28,"Venezuela, RB",VEN,"Wage and salaried workers, male (% of male emp...",SL.EMP.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.505100e+01,6.423000e+01,6.416400e+01,6.464100e+01,6.473300e+01,6.531700e+01,6.481100e+01,6.407000e+01,62.763000,62.173000
29,"Venezuela, RB",VEN,"Wage and salaried workers, female (% of female...",SL.EMP.WORK.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.092200e+01,6.911400e+01,6.892900e+01,6.987800e+01,7.000100e+01,7.118300e+01,6.986800e+01,6.826300e+01,66.202003,65.782997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,"Venezuela, RB",VEN,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.697569e+00,4.116052e+00,5.940935e+00,5.661888e+00,5.795334e+00,3.971728e+00,NaN,NaN,NaN,NaN
1574,"Venezuela, RB",VEN,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,1.115600e+03,1.164000e+03,1.119100e+03,1.199700e+03,1.271500e+03,...,3.171600e+03,3.576000e+03,3.461100e+03,3.760200e+03,4.007300e+03,4.040700e+03,3.505700e+03,3.426900e+03,NaN,NaN
1575,"Venezuela, RB",VEN,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,...,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,912050.000000,912050.000000
1576,"Venezuela, RB",VEN,Livestock production index (2004-2006 = 100),AG.PRD.LVSK.XD,NaN,1.795000e+01,1.876000e+01,1.998000e+01,2.197000e+01,2.312000e+01,...,1.151200e+02,1.186100e+02,1.337800e+02,1.307100e+02,1.319300e+02,1.329100e+02,1.347400e+02,1.298000e+02,NaN,NaN
1577,"Venezuela, RB",VEN,Food production index (2004-2006 = 100),AG.PRD.FOOD.XD,NaN,2.500000e+01,2.558000e+01,2.713000e+01,2.923000e+01,3.119000e+01,...,1.078000e+02,1.095500e+02,1.223800e+02,1.154100e+02,1.170200e+02,1.178000e+02,1.171500e+02,1.077300e+02,NaN,NaN
1578,"Venezuela, RB",VEN,Crop production index (2004-2006 = 100),AG.PRD.CROP.XD,NaN,3.646000e+01,3.659000e+01,3.870000e+01,4.061000e+01,4.363000e+01,...,1.013700e+02,1.007300e+02,1.083400e+02,9.738000e+01,1.039500e+02,1.063600e+02,9.850000e+01,7.849000e+01,NaN,NaN
1579,"Venezuela, RB",VEN,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,5.013940e+05,6.442300e+05,5.623850e+05,6.441480e+05,7.258730e+05,...,3.711867e+06,3.664849e+06,3.429024e+06,3.311726e+06,3.693974e+06,3.597762e+06,2.294532e+06,1.782326e+06,NaN,NaN
1580,"Venezuela, RB",VEN,"Agricultural machinery, tractors per 100 sq. k...",AG.LND.TRAC.ZS,NaN,3.931034e+01,4.103448e+01,4.150878e+01,4.877881e+01,5.462041e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,"Venezuela, RB",VEN,Urban land area (sq. km),AG.LND.TOTL.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.440393e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,"Venezuela, RB",VEN,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.682228e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,"Venezuela, RB",VEN,Land area (sq. km),AG.LND.TOTL.K2,NaN,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,...,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,882050.000000,882050.000000
1584,"Venezuela, RB",VEN,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,NaN,2.044000e+03,NaN,NaN,NaN,...,NaN,NaN,NaN,2.044000e+03,NaN,2.044000e+03,NaN,NaN,NaN,NaN
1585,"Venezuela, RB",VEN,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1586,"Venezuela, RB",VEN,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.390466e+01,5.385749e+01,5.367111e+01,5.348472e+01,5.329834e+01,5.311195e+01,5.292557e+01,5.273919e+01,NaN,NaN
1587,"Venezuela, RB",VEN,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.754660e+05,4.750500e+05,4.734060e+05,4.717620e+05,4.701180e+05,4.684740e+05,4.668300e+05,4.651860e+05,NaN,NaN
1588,"Venezuela, RB",VEN,Land area where elevation is below 5 meters (%...,AG.LND.EL5M.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.458119e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1589,"Venezuela, RB",VEN,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.002415e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,"Venezuela, RB",VEN,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.048066e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,"Venezuela, RB",VEN,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.357878e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,"Venezuela, RB",VEN,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.225657e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,"Venezuela, RB",VEN,Permanent cropland (% of land area),AG.LND.CROP.ZS,NaN,6.598265e-01,6.598265e-01,6.564254e-01,6.541579e-01,6.496230e-01,...,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,NaN,NaN
1594,"Venezuela, RB",VEN,Land under cereal production (hectares),AG.LND.CREL.HA,NaN,4.494430e+05,5.534400e+05,5.025220e+05,5.369120e+05,5.708590e+05,...,1.170329e+06,1.024857e+06,9.907200e+05,8.807380e+05,9.218200e+05,8.903910e+05,6.545090e+05,5.200980e+05,NaN,NaN
1595,"Venezuela, RB",VEN,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,3.287795e+00,3.287795e+00,3.291197e+00,3.295732e+00,3.300266e+00,...,2.947679e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,NaN,NaN
1596,"Venezuela, RB",VEN,Arable land (hectares per person),AG.LND.ARBL.HA.PC,NaN,3.427213e-01,3.298983e-01,3.179506e-01,3.067669e-01,2.962943e-01,...,9.094940e-02,9.301354e-02,9.163946e-02,9.032191e-02,8.905645e-02,8.783808e-02,8.666308e-02,8.552917e-02,NaN,NaN
1597,"Venezuela, RB",VEN,Arable land (hectares),AG.LND.ARBL.HA,NaN,2.900000e+06,2.900000e+06,2.903000e+06,2.907000e+06,2.911000e+06,...,2.600000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,NaN,NaN
1598,"Venezuela, RB",VEN,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,2.180375e+01,2.188311e+01,2.196247e+01,2.204410e+01,2.212346e+01,...,2.437504e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,NaN,NaN
1599,"Venezuela, RB",VEN,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,1.923200e+05,1.930200e+05,1.937200e+05,1.944400e+05,1.951400e+05,...,2.150000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,NaN,NaN
1600,"Venezuela, RB",VEN,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.661769e+02,1.706889e+02,1.703704e+02,1.901574e+02,1.927020e+02,1.818828e+02,1.834675e+02,1.834675e+02,NaN,NaN
1601,"Venezuela, RB",VEN,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.668683e+01,5.027145e+01,5.167129e+01,5.548183e+01,5.433361e+01,4.978372e+01,5.897592e+01,5.897592e+01,NaN,NaN
1602,"Venezuela, RB",VEN,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,1.140000e+04,1.190000e+04,1.205000e+04,1.418000e+04,1.590000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
worldbank_df.drop ([0,1,2])

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2017.000000,2018.000000
4,"Venezuela, RB",VEN,"Employment in services, female (% of female em...",SL.SRV.EMPL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,8.498000e+01,8.552100e+01,8.620300e+01,8.683500e+01,8.855000e+01,8.787100e+01,8.487500e+01,8.307200e+01,82.676002,83.061996
5,"Venezuela, RB",VEN,Child employment in services (% of economicall...,SL.SRV.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5.886000e+01,NaN,NaN,NaN,NaN,NaN
6,"Venezuela, RB",VEN,"Child employment in services, male (% of male ...",SL.SRV.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.907000e+01,NaN,NaN,NaN,NaN,NaN
7,"Venezuela, RB",VEN,"Child employment in services, female (% of fem...",SL.SRV.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.115000e+01,NaN,NaN,NaN,NaN,NaN
8,"Venezuela, RB",VEN,"Children in employment, self-employed (% of ch...",SL.SLF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.739000e+01,NaN,NaN,NaN,NaN,NaN
9,"Venezuela, RB",VEN,"Children in employment, self-employed, male (%...",SL.SLF.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.041000e+01,NaN,NaN,NaN,NaN,NaN
10,"Venezuela, RB",VEN,"Children in employment, self-employed, female ...",SL.SLF.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.031000e+01,NaN,NaN,NaN,NaN,NaN
11,"Venezuela, RB",VEN,Child employment in manufacturing (% of econom...,SL.MNF.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.370000e+00,NaN,NaN,NaN,NaN,NaN
12,"Venezuela, RB",VEN,"Child employment in manufacturing, male (% of ...",SL.MNF.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.250000e+00,NaN,NaN,NaN,NaN,NaN
13,"Venezuela, RB",VEN,"Child employment in manufacturing, female (% o...",SL.MNF.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.660000e+00,NaN,NaN,NaN,NaN,NaN
14,"Venezuela, RB",VEN,Informal employment (% of total non-agricultur...,SL.ISV.IFRM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"Venezuela, RB",VEN,"Informal employment, male (% of total non-agri...",SL.ISV.IFRM.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Venezuela, RB",VEN,"Informal employment, female (% of total non-ag...",SL.ISV.IFRM.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Venezuela, RB",VEN,Employment in industry (% of total employment)...,SL.IND.EMPL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.463700e+01,2.392800e+01,2.368500e+01,2.296500e+01,2.132600e+01,2.148200e+01,2.364500e+01,2.324200e+01,23.263000,23.561001
18,"Venezuela, RB",VEN,"Employment in industry, male (% of male employ...",SL.IND.EMPL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.210100e+01,3.121800e+01,3.120400e+01,3.040400e+01,2.871800e+01,2.868600e+01,3.097600e+01,3.018000e+01,29.775999,30.056999
19,"Venezuela, RB",VEN,"Employment in industry, female (% of female em...",SL.IND.EMPL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.308900e+01,1.256200e+01,1.206700e+01,1.154100e+01,1.012100e+01,1.062100e+01,1.261000e+01,1.263700e+01,13.353000,13.727000
20,"Venezuela, RB",VEN,GDP per person employed (constant 2011 PPP $),SL.GDP.PCAP.EM.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.076003e+04,3.969803e+04,4.028765e+04,4.193257e+04,4.166141e+04,3.907799e+04,3.622111e+04,3.245498e+04,29143.365230,26797.062500
21,"Venezuela, RB",VEN,"Contributing family workers, total (% of total...",SL.FAM.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.116000e+00,3.058000e+00,3.258000e+00,2.764000e+00,2.591000e+00,1.872000e+00,2.431000e+00,3.026000e+00,4.413000,4.974000
22,"Venezuela, RB",VEN,"Contributing family workers, male (% of male e...",SL.FAM.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.482000e+00,2.325000e+00,2.468000e+00,2.000000e+00,1.864000e+00,1.281000e+00,1.794000e+00,2.438000e+00,3.837000,4.340000
23,"Venezuela, RB",VEN,"Contributing family workers, female (% of fema...",SL.FAM.WORK.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.099000e+00,4.202000e+00,4.478000e+00,3.937000e+00,3.696000e+00,2.762000e+00,3.391000e+00,3.930000e+00,5.288000,5.934000
24,"Venezuela, RB",VEN,"Children in employment, unpaid family workers ...",SL.FAM.0714.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.669000e+01,NaN,NaN,NaN,NaN,NaN
25,"Venezuela, RB",VEN,"Children in employment, unpaid family workers,...",SL.FAM.0714.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.743000e+01,NaN,NaN,NaN,NaN,NaN
26,"Venezuela, RB",VEN,"Children in employment, unpaid family workers,...",SL.FAM.0714.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6.839000e+01,NaN,NaN,NaN,NaN,NaN
27,"Venezuela, RB",VEN,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.735600e+01,6.613800e+01,6.603600e+01,6.670600e+01,6.682300e+01,6.765600e+01,6.682800e+01,6.572400e+01,64.127998,63.609001
28,"Venezuela, RB",VEN,"Wage and salaried workers, male (% of male emp...",SL.EMP.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.505100e+01,6.423000e+01,6.416400e+01,6.464100e+01,6.473300e+01,6.531700e+01,6.481100e+01,6.407000e+01,62.763000,62.173000
29,"Venezuela, RB",VEN,"Wage and salaried workers, female (% of female...",SL.EMP.WORK.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,7.092200e+01,6.911400e+01,6.892900e+01,6.987800e+01,7.000100e+01,7.118300e+01,6.986800e+01,6.826300e+01,66.202003,65.782997
30,"Venezuela, RB",VEN,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.832000e+01,3.030900e+01,3.048300e+01,2.947300e+01,2.930300e+01,2.775700e+01,2.919000e+01,3.083500e+01,33.011000,33.606999
31,"Venezuela, RB",VEN,"Vulnerable employment, male (% of male employm...",SL.EMP.VULN.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.924400e+01,3.114600e+01,3.129800e+01,3.033000e+01,3.015100e+01,2.862400e+01,3.000200e+01,3.154700e+01,33.681999,34.349001
32,"Venezuela, RB",VEN,"Vulnerable employment, female (% of female emp...",SL.EMP.VULN.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.689300e+01,2.900500e+01,2.922300e+01,2.815500e+01,2.801200e+01,2.644800e+01,2.796700e+01,2.974200e+01,31.990999,32.483999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1573,"Venezuela, RB",VEN,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.697569e+00,4.116052e+00,5.940935e+00,5.661888e+00,5.795334e+00,3.971728e+00,NaN,NaN,NaN,NaN
1574,"Venezuela, RB",VEN,Cereal yield (kg per hectare),AG.YLD.CREL.KG,NaN,1.115600e+03,1.164000e+03,1.119100e+03,1.199700e+03,1.271500e+03,...,3.171600e+03,3.576000e+03,3.461100e+03,3.760200e+03,4.007300e+03,4.040700e+03,3.505700e+03,3.426900e+03,NaN,NaN
1575,"Venezuela, RB",VEN,Surface area (sq. km),AG.SRF.TOTL.K2,NaN,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,...,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,912050.000000,912050.000000
1576,"Venezuela, RB",VEN,Livestock production index (2004-2006 = 100),AG.PRD.LVSK.XD,NaN,1.795000e+01,1.876000e+01,1.998000e+01,2.197000e+01,2.312000e+01,...,1.151200e+02,1.186100e+02,1.337800e+02,1.307100e+02,1.319300e+02,1.329100e+02,1.347400e+02,1.298000e+02,NaN,NaN
1577,"Venezuela, RB",VEN,Food production index (2004-2006 = 100),AG.PRD.FOOD.XD,NaN,2.500000e+01,2.558000e+01,2.713000e+01,2.923000e+01,3.119000e+01,...,1.078000e+02,1.095500e+02,1.223800e+02,1.154100e+02,1.170200e+02,1.178000e+02,1.171500e+02,1.077300e+02,NaN,NaN
1578,"Venezuela, RB",VEN,Crop production index (2004-2006 = 100),AG.PRD.CROP.XD,NaN,3.646000e+01,3.659000e+01,3.870000e+01,4.061000e+01,4.363000e+01,...,1.013700e+02,1.007300e+02,1.083400e+02,9.738000e+01,1.039500e+02,1.063600e+02,9.850000e+01,7.849000e+01,NaN,NaN
1579,"Venezuela, RB",VEN,Cereal production (metric tons),AG.PRD.CREL.MT,NaN,5.013940e+05,6.442300e+05,5.623850e+05,6.441480e+05,7.258730e+05,...,3.711867e+06,3.664849e+06,3.429024e+06,3.311726e+06,3.693974e+06,3.597762e+06,2.294532e+06,1.782326e+06,NaN,NaN
1580,"Venezuela, RB",VEN,"Agricultural machinery, tractors per 100 sq. k...",AG.LND.TRAC.ZS,NaN,3.931034e+01,4.103448e+01,4.150878e+01,4.877881e+01,5.462041e+01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,"Venezuela, RB",VEN,Urban land area (sq. km),AG.LND.TOTL.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.440393e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1582,"Venezuela, RB",VEN,Rural land area (sq. km),AG.LND.TOTL.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.682228e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1583,"Venezuela, RB",VEN,Land area (sq. km),AG.LND.TOTL.K2,NaN,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,...,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,882050.000000,882050.000000
1584,"Venezuela, RB",VEN,Average precipitation in depth (mm per year),AG.LND.PRCP.MM,NaN,NaN,2.044000e+03,NaN,NaN,NaN,...,NaN,NaN,NaN,2.044000e+03,NaN,2.044000e+03,NaN,NaN,NaN,NaN
1585,"Venezuela, RB",VEN,Agricultural irrigated land (% of total agricu...,AG.LND.IRIG.AG.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1586,"Venezuela, RB",VEN,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,5.390466e+01,5.385749e+01,5.367111e+01,5.348472e+01,5.329834e+01,5.311195e+01,5.292557e+01,5.273919e+01,NaN,NaN
1587,"Venezuela, RB",VEN,Forest area (sq. km),AG.LND.FRST.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,4.754660e+05,4.750500e+05,4.734060e+05,4.717620e+05,4.701180e+05,4.684740e+05,4.668300e+05,4.651860e+05,NaN,NaN
1588,"Venezuela, RB",VEN,Land area where elevation is below 5 meters (%...,AG.LND.EL5M.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.458119e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1589,"Venezuela, RB",VEN,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.002415e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1590,"Venezuela, RB",VEN,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,9.048066e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,"Venezuela, RB",VEN,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.357878e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,"Venezuela, RB",VEN,Rural land area where elevation is below 5 met...,AG.LND.EL5M.RU.K2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.225657e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1593,"Venezuela, RB",VEN,Permanent cropland (% of land area),AG.LND.CROP.ZS,NaN,6.598265e-01,6.598265e-01,6.564254e-01,6.541579e-01,6.496230e-01,...,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,NaN,NaN
1594,"Venezuela, RB",VEN,Land under cereal production (hectares),AG.LND.CREL.HA,NaN,4.494430e+05,5.534400e+05,5.025220e+05,5.369120e+05,5.708590e+05,...,1.170329e+06,1.024857e+06,9.907200e+05,8.807380e+05,9.218200e+05,8.903910e+05,6.545090e+05,5.200980e+05,NaN,NaN
1595,"Venezuela, RB",VEN,Arable land (% of land area),AG.LND.ARBL.ZS,NaN,3.287795e+00,3.287795e+00,3.291197e+00,3.295732e+00,3.300266e+00,...,2.947679e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,NaN,NaN
1596,"Venezuela, RB",VEN,Arable land (hectares per person),AG.LND.ARBL.HA.PC,NaN,3.427213e-01,3.298983e-01,3.179506e-01,3.067669e-01,2.962943e-01,...,9.094940e-02,9.301354e-02,9.163946e-02,9.032191e-02,8.905645e-02,8.783808e-02,8.666308e-02,8.552917e-02,NaN,NaN
1597,"Venezuela, RB",VEN,Arable land (hectares),AG.LND.ARBL.HA,NaN,2.900000e+06,2.900000e+06,2.903000e+06,2.907000e+06,2.911000e+06,...,2.600000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,NaN,NaN
1598,"Venezuela, RB",VEN,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,2.180375e+01,2.188311e+01,2.196247e+01,2.204410e+01,2.212346e+01,...,2.437504e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,NaN,NaN
1599,"Venezuela, RB",VEN,Agricultural land (sq. km),AG.LND.AGRI.K2,NaN,1.923200e+05,1.930200e+05,1.937200e+05,1.944400e+05,1.951400e+05,...,2.150000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,NaN,NaN
1600,"Venezuela, RB",VEN,Fertilizer consumption (kilograms per hectare ...,AG.CON.FERT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.661769e+02,1.706889e+02,1.703704e+02,1.901574e+02,1.927020e+02,1.818828e+02,1.834675e+02,1.834675e+02,NaN,NaN
1601,"Venezuela, RB",VEN,Fertilizer consumption (% of fertilizer produc...,AG.CON.FERT.PT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.668683e+01,5.027145e+01,5.167129e+01,5.548183e+01,5.433361e+01,4.978372e+01,5.897592e+01,5.897592e+01,NaN,NaN
1602,"Venezuela, RB",VEN,"Agricultural machinery, tractors",AG.AGR.TRAC.NO,NaN,1.140000e+04,1.190000e+04,1.205000e+04,1.418000e+04,1.590000e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
worldbank_df.columns

Index(['Data Source', 'World Development Indicators', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62'],
      dtype='object')

In [8]:
clean_df= worldbank_df.drop(['Data Source', 'World Development Indicators',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56'], axis=1)

In [9]:
clean_df

,Unnamed: 2,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Indicator Name,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2017.000000,2018.000000
4,"Employment in services, female (% of female em...",8.855000e+01,8.787100e+01,8.487500e+01,8.307200e+01,82.676002,83.061996
5,Child employment in services (% of economicall...,5.886000e+01,NaN,NaN,NaN,NaN,NaN
6,"Child employment in services, male (% of male ...",4.907000e+01,NaN,NaN,NaN,NaN,NaN
7,"Child employment in services, female (% of fem...",8.115000e+01,NaN,NaN,NaN,NaN,NaN
8,"Children in employment, self-employed (% of ch...",2.739000e+01,NaN,NaN,NaN,NaN,NaN
9,"Children in employment, self-employed, male (%...",3.041000e+01,NaN,NaN,NaN,NaN,NaN
10,"Children in employment, self-employed, female ...",2.031000e+01,NaN,NaN,NaN,NaN,NaN
11,Child employment in manufacturing (% of econom...,9.370000e+00,NaN,NaN,NaN,NaN,NaN
12,"Child employment in manufacturing, male (% of ...",9.250000e+00,NaN,NaN,NaN,NaN,NaN
13,"Child employment in manufacturing, female (% o...",9.660000e+00,NaN,NaN,NaN,NaN,NaN
14,Informal employment (% of total non-agricultur...,NaN,NaN,NaN,NaN,NaN,NaN
15,"Informal employment, male (% of total non-agri...",NaN,NaN,NaN,NaN,NaN,NaN
16,"Informal employment, female (% of total non-ag...",NaN,NaN,NaN,NaN,NaN,NaN
17,Employment in industry (% of total employment)...,2.132600e+01,2.148200e+01,2.364500e+01,2.324200e+01,23.263000,23.561001
18,"Employment in industry, male (% of male employ...",2.871800e+01,2.868600e+01,3.097600e+01,3.018000e+01,29.775999,30.056999
19,"Employment in industry, female (% of female em...",1.012100e+01,1.062100e+01,1.261000e+01,1.263700e+01,13.353000,13.727000
20,GDP per person employed (constant 2011 PPP $),4.166141e+04,3.907799e+04,3.622111e+04,3.245498e+04,29143.365230,26797.062500
21,"Contributing family workers, total (% of total...",2.591000e+00,1.872000e+00,2.431000e+00,3.026000e+00,4.413000,4.974000
22,"Contributing family workers, male (% of male e...",1.864000e+00,1.281000e+00,1.794000e+00,2.438000e+00,3.837000,4.340000
23,"Contributing family workers, female (% of fema...",3.696000e+00,2.762000e+00,3.391000e+00,3.930000e+00,5.288000,5.934000
24,"Children in employment, unpaid family workers ...",4.669000e+01,NaN,NaN,NaN,NaN,NaN
25,"Children in employment, unpaid family workers,...",3.743000e+01,NaN,NaN,NaN,NaN,NaN
26,"Children in employment, unpaid family workers,...",6.839000e+01,NaN,NaN,NaN,NaN,NaN
27,"Wage and salaried workers, total (% of total e...",6.682300e+01,6.765600e+01,6.682800e+01,6.572400e+01,64.127998,63.609001
28,"Wage and salaried workers, male (% of male emp...",6.473300e+01,6.531700e+01,6.481100e+01,6.407000e+01,62.763000,62.173000
29,"Wage and salaried workers, female (% of female...",7.000100e+01,7.118300e+01,6.986800e+01,6.826300e+01,66.202003,65.782997
...,...,...,...,...,...,...,...
1573,Trade in services (% of GDP),5.795334e+00,3.971728e+00,NaN,NaN,NaN,NaN
1574,Cereal yield (kg per hectare),4.007300e+03,4.040700e+03,3.505700e+03,3.426900e+03,NaN,NaN
1575,Surface area (sq. km),9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,912050.000000,912050.000000
1576,Livestock production index (2004-2006 = 100),1.319300e+02,1.329100e+02,1.347400e+02,1.298000e+02,NaN,NaN
1577,Food production index (2004-2006 = 100),1.170200e+02,1.178000e+02,1.171500e+02,1.077300e+02,NaN,NaN
1578,Crop production index (2004-2006 = 100),1.039500e+02,1.063600e+02,9.850000e+01,7.849000e+01,NaN,NaN
1579,Cereal production (metric tons),3.693974e+06,3.597762e+06,2.294532e+06,1.782326e+06,NaN,NaN
1580,"Agricultural machinery, tractors per 100 sq. k...",NaN,NaN,NaN,NaN,NaN,NaN
1581,Urban land area (sq. km),NaN,NaN,NaN,NaN,NaN,NaN
1582,Rural land area (sq. km),NaN,NaN,NaN,NaN,NaN,NaN
1583,Land area (sq. km),8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,882050.000000,882050.000000
1584,Average precipitation in depth (mm per year),NaN,2.044000e+03,NaN,NaN,NaN,NaN
1585,Agricultural irrigated land (% of total agricu...,NaN,NaN,NaN,NaN,NaN,NaN
1586,Forest area (% of land area),5.329834e+01,5.311195e+01,5.292557e+01,5.273919e+01,NaN,NaN
1587,Forest area (sq. km),4.701180e+05,4.684740e+05,4.668300e+05,4.651860e+05,NaN,NaN
1588,Land area where elevation is below 5 meters (%...,NaN,NaN,NaN,NaN,NaN,NaN
1589,Urban land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1590,Urban land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1591,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1592,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1593,Permanent cropland (% of land area),7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,NaN,NaN
1594,Land under cereal production (hectares),9.218200e+05,8.903910e+05,6.545090e+05,5.200980e+05,NaN,NaN
1595,Arable land (% of land area),3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,NaN,NaN
1596,Arable land (hectares per person),8.905645e-02,8.783808e-02,8.666308e-02,8.552917e-02,NaN,NaN
1597,Arable land (hectares),2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,NaN,NaN
1598,Agricultural land (% of land area),2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,NaN,NaN
1599,Agricultural land (sq. km),2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,NaN,NaN
1600,Fertilizer consumption (kilograms per hectare ...,1.927020e+02,1.818828e+02,1.834675e+02,1.834675e+02,NaN,NaN
1601,Fertilizer consumption (% of fertilizer produc...,5.433361e+01,4.978372e+01,5.897592e+01,5.897592e+01,NaN,NaN
1602,"Agricultural machinery, tractors",NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
cleaner_df=clean_df.drop ([0,1,2])
cleaner_df

,Unnamed: 2,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
3,Indicator Name,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2017.000000,2018.000000
4,"Employment in services, female (% of female em...",8.855000e+01,8.787100e+01,8.487500e+01,8.307200e+01,82.676002,83.061996
5,Child employment in services (% of economicall...,5.886000e+01,NaN,NaN,NaN,NaN,NaN
6,"Child employment in services, male (% of male ...",4.907000e+01,NaN,NaN,NaN,NaN,NaN
7,"Child employment in services, female (% of fem...",8.115000e+01,NaN,NaN,NaN,NaN,NaN
8,"Children in employment, self-employed (% of ch...",2.739000e+01,NaN,NaN,NaN,NaN,NaN
9,"Children in employment, self-employed, male (%...",3.041000e+01,NaN,NaN,NaN,NaN,NaN
10,"Children in employment, self-employed, female ...",2.031000e+01,NaN,NaN,NaN,NaN,NaN
11,Child employment in manufacturing (% of econom...,9.370000e+00,NaN,NaN,NaN,NaN,NaN
12,"Child employment in manufacturing, male (% of ...",9.250000e+00,NaN,NaN,NaN,NaN,NaN
13,"Child employment in manufacturing, female (% o...",9.660000e+00,NaN,NaN,NaN,NaN,NaN
14,Informal employment (% of total non-agricultur...,NaN,NaN,NaN,NaN,NaN,NaN
15,"Informal employment, male (% of total non-agri...",NaN,NaN,NaN,NaN,NaN,NaN
16,"Informal employment, female (% of total non-ag...",NaN,NaN,NaN,NaN,NaN,NaN
17,Employment in industry (% of total employment)...,2.132600e+01,2.148200e+01,2.364500e+01,2.324200e+01,23.263000,23.561001
18,"Employment in industry, male (% of male employ...",2.871800e+01,2.868600e+01,3.097600e+01,3.018000e+01,29.775999,30.056999
19,"Employment in industry, female (% of female em...",1.012100e+01,1.062100e+01,1.261000e+01,1.263700e+01,13.353000,13.727000
20,GDP per person employed (constant 2011 PPP $),4.166141e+04,3.907799e+04,3.622111e+04,3.245498e+04,29143.365230,26797.062500
21,"Contributing family workers, total (% of total...",2.591000e+00,1.872000e+00,2.431000e+00,3.026000e+00,4.413000,4.974000
22,"Contributing family workers, male (% of male e...",1.864000e+00,1.281000e+00,1.794000e+00,2.438000e+00,3.837000,4.340000
23,"Contributing family workers, female (% of fema...",3.696000e+00,2.762000e+00,3.391000e+00,3.930000e+00,5.288000,5.934000
24,"Children in employment, unpaid family workers ...",4.669000e+01,NaN,NaN,NaN,NaN,NaN
25,"Children in employment, unpaid family workers,...",3.743000e+01,NaN,NaN,NaN,NaN,NaN
26,"Children in employment, unpaid family workers,...",6.839000e+01,NaN,NaN,NaN,NaN,NaN
27,"Wage and salaried workers, total (% of total e...",6.682300e+01,6.765600e+01,6.682800e+01,6.572400e+01,64.127998,63.609001
28,"Wage and salaried workers, male (% of male emp...",6.473300e+01,6.531700e+01,6.481100e+01,6.407000e+01,62.763000,62.173000
29,"Wage and salaried workers, female (% of female...",7.000100e+01,7.118300e+01,6.986800e+01,6.826300e+01,66.202003,65.782997
30,"Vulnerable employment, total (% of total emplo...",2.930300e+01,2.775700e+01,2.919000e+01,3.083500e+01,33.011000,33.606999
31,"Vulnerable employment, male (% of male employm...",3.015100e+01,2.862400e+01,3.000200e+01,3.154700e+01,33.681999,34.349001
32,"Vulnerable employment, female (% of female emp...",2.801200e+01,2.644800e+01,2.796700e+01,2.974200e+01,31.990999,32.483999
...,...,...,...,...,...,...,...
1573,Trade in services (% of GDP),5.795334e+00,3.971728e+00,NaN,NaN,NaN,NaN
1574,Cereal yield (kg per hectare),4.007300e+03,4.040700e+03,3.505700e+03,3.426900e+03,NaN,NaN
1575,Surface area (sq. km),9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,912050.000000,912050.000000
1576,Livestock production index (2004-2006 = 100),1.319300e+02,1.329100e+02,1.347400e+02,1.298000e+02,NaN,NaN
1577,Food production index (2004-2006 = 100),1.170200e+02,1.178000e+02,1.171500e+02,1.077300e+02,NaN,NaN
1578,Crop production index (2004-2006 = 100),1.039500e+02,1.063600e+02,9.850000e+01,7.849000e+01,NaN,NaN
1579,Cereal production (metric tons),3.693974e+06,3.597762e+06,2.294532e+06,1.782326e+06,NaN,NaN
1580,"Agricultural machinery, tractors per 100 sq. k...",NaN,NaN,NaN,NaN,NaN,NaN
1581,Urban land area (sq. km),NaN,NaN,NaN,NaN,NaN,NaN
1582,Rural land area (sq. km),NaN,NaN,NaN,NaN,NaN,NaN
1583,Land area (sq. km),8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,882050.000000,882050.000000
1584,Average precipitation in depth (mm per year),NaN,2.044000e+03,NaN,NaN,NaN,NaN
1585,Agricultural irrigated land (% of total agricu...,NaN,NaN,NaN,NaN,NaN,NaN
1586,Forest area (% of land area),5.329834e+01,5.311195e+01,5.292557e+01,5.273919e+01,NaN,NaN
1587,Forest area (sq. km),4.701180e+05,4.684740e+05,4.668300e+05,4.651860e+05,NaN,NaN
1588,Land area where elevation is below 5 meters (%...,NaN,NaN,NaN,NaN,NaN,NaN
1589,Urban land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1590,Urban land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1591,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1592,Rural land area where elevation is below 5 met...,NaN,NaN,NaN,NaN,NaN,NaN
1593,Permanent cropland (% of land area),7.936058e-01,7.936058e-01,7.936058e-01,7.936058e-01,NaN,NaN
1594,Land under cereal production (hectares),9.218200e+05,8.903910e+05,6.545090e+05,5.200980e+05,NaN,NaN
1595,Arable land (% of land area),3.061051e+00,3.061051e+00,3.061051e+00,3.061051e+00,NaN,NaN
1596,Arable land (hectares per person),8.905645e-02,8.783808e-02,8.666308e-02,8.552917e-02,NaN,NaN
1597,Arable land (hectares),2.700000e+06,2.700000e+06,2.700000e+06,2.700000e+06,NaN,NaN
1598,Agricultural land (% of land area),2.448841e+01,2.448841e+01,2.448841e+01,2.448841e+01,NaN,NaN
1599,Agricultural land (sq. km),2.160000e+05,2.160000e+05,2.160000e+05,2.160000e+05,NaN,NaN
1600,Fertilizer consumption (kilograms per hectare ...,1.927020e+02,1.818828e+02,1.834675e+02,1.834675e+02,NaN,NaN
1601,Fertilizer consumption (% of fertilizer produc...,5.433361e+01,4.978372e+01,5.897592e+01,5.897592e+01,NaN,NaN
1602,"Agricultural machinery, tractors",NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
cleaner_df.dropna(how='any')

,Unnamed: 2,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
3,Indicator Name,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2.018000e+03
4,"Employment in services, female (% of female em...",8.855000e+01,8.787100e+01,8.487500e+01,8.307200e+01,8.267600e+01,8.306200e+01
17,Employment in industry (% of total employment)...,2.132600e+01,2.148200e+01,2.364500e+01,2.324200e+01,2.326300e+01,2.356100e+01
18,"Employment in industry, male (% of male employ...",2.871800e+01,2.868600e+01,3.097600e+01,3.018000e+01,2.977600e+01,3.005700e+01
19,"Employment in industry, female (% of female em...",1.012100e+01,1.062100e+01,1.261000e+01,1.263700e+01,1.335300e+01,1.372700e+01
20,GDP per person employed (constant 2011 PPP $),4.166141e+04,3.907799e+04,3.622111e+04,3.245498e+04,2.914337e+04,2.679706e+04
21,"Contributing family workers, total (% of total...",2.591000e+00,1.872000e+00,2.431000e+00,3.026000e+00,4.413000e+00,4.974000e+00
22,"Contributing family workers, male (% of male e...",1.864000e+00,1.281000e+00,1.794000e+00,2.438000e+00,3.837000e+00,4.340000e+00
23,"Contributing family workers, female (% of fema...",3.696000e+00,2.762000e+00,3.391000e+00,3.930000e+00,5.288000e+00,5.934000e+00
27,"Wage and salaried workers, total (% of total e...",6.682300e+01,6.765600e+01,6.682800e+01,6.572400e+01,6.412800e+01,6.360900e+01
28,"Wage and salaried workers, male (% of male emp...",6.473300e+01,6.531700e+01,6.481100e+01,6.407000e+01,6.276300e+01,6.217300e+01
29,"Wage and salaried workers, female (% of female...",7.000100e+01,7.118300e+01,6.986800e+01,6.826300e+01,6.620200e+01,6.578300e+01
30,"Vulnerable employment, total (% of total emplo...",2.930300e+01,2.775700e+01,2.919000e+01,3.083500e+01,3.301100e+01,3.360700e+01
31,"Vulnerable employment, male (% of male employm...",3.015100e+01,2.862400e+01,3.000200e+01,3.154700e+01,3.368200e+01,3.434900e+01
32,"Vulnerable employment, female (% of female emp...",2.801200e+01,2.644800e+01,2.796700e+01,2.974200e+01,3.199100e+01,3.248400e+01
33,"Employment to population ratio, 15+, total (%)...",5.955400e+01,5.992800e+01,5.989800e+01,5.909600e+01,5.875700e+01,5.859400e+01
35,"Employment to population ratio, 15+, male (%) ...",7.282500e+01,7.306800e+01,7.306000e+01,7.265400e+01,7.198200e+01,7.171700e+01
37,"Employment to population ratio, 15+, female (%...",4.662800e+01,4.714500e+01,4.710800e+01,4.593300e+01,4.593200e+01,4.588000e+01
40,"Self-employed, total (% of total employment) (...",3.317700e+01,3.234400e+01,3.317200e+01,3.427600e+01,3.587200e+01,3.639100e+01
41,"Self-employed, male (% of male employment) (mo...",3.526700e+01,3.468300e+01,3.518900e+01,3.593000e+01,3.723700e+01,3.782700e+01
42,"Self-employed, female (% of female employment)...",2.999900e+01,2.881700e+01,3.013200e+01,3.173700e+01,3.379800e+01,3.421700e+01
43,"Employers, total (% of total employment) (mode...",3.875000e+00,4.588000e+00,3.982000e+00,3.441000e+00,2.861000e+00,2.784000e+00
44,"Employers, male (% of male employment) (modele...",5.116000e+00,6.059000e+00,5.187000e+00,4.383000e+00,3.555000e+00,3.478000e+00
45,"Employers, female (% of female employment) (mo...",1.987000e+00,2.369000e+00,2.165000e+00,1.996000e+00,1.807000e+00,1.733000e+00
46,"Employment to population ratio, ages 15-24, to...",3.424600e+01,3.456900e+01,3.421600e+01,3.295100e+01,3.215400e+01,3.154200e+01
48,"Employment to population ratio, ages 15-24, ma...",4.552600e+01,4.544900e+01,4.479200e+01,4.321300e+01,4.209600e+01,4.146100e+01
50,"Employment to population ratio, ages 15-24, fe...",2.264500e+01,2.337600e+01,2.332700e+01,2.238900e+01,2.192100e+01,2.133300e+01
52,Employment in agriculture (% of total employme...,7.446000e+00,7.816000e+00,9.076000e+00,9.834000e+00,1.021300e+01,9.994000e+00
53,"Employment in agriculture, male (% of male emp...",1.147900e+01,1.199900e+01,1.343500e+01,1.346000e+01,1.431500e+01,1.447600e+01
310,Secure Internet servers (per 1 million people),1.461186e+01,1.603858e+01,2.070285e+01,1.400461e+02,2.697558e+02,2.456996e+02
...,...,...,...,...,...,...,...
1068,"PPG, commercial banks (AMT, current US$)",9.816513e+07,6.243239e+07,3.917698e+07,6.463555e+07,1.462345e+08,4.474822e+08
1070,"Unemployment, total (% of total labor force) (...",7.540000e+00,6.950000e+00,6.820000e+00,7.146000e+00,7.662000e+00,7.883000e+00
1072,"Unemployment, male (% of male labor force) (mo...",6.830000e+00,6.403000e+00,6.241000e+00,6.345000e+00,7.049000e+00,7.205000e+00
1074,"Unemployment, female (% of female labor force)...",8.600000e+00,7.762000e+00,7.679000e+00,8.349000e+00,8.579000e+00,8.891000e+00
1088,"Unemployment, youth total (% of total labor fo...",1.612400e+01,1.458300e+01,1.448800e+01,1.576400e+01,1.714000e+01,1.804400e+01
1090,"Unemployment, youth male (% of male labor forc...",1.364700e+01,1.256000e+01,1.240200e+01,1.311100e+01,1.475600e+01,1.542600e+01
1092,"Unemployment, youth female (% of female labor ...",2.081900e+01,1.836300e+01,1.833300e+01,2.058200e+01,2.148000e+01,2.282200e+01
1094,"Labor force, total",1.390377e+07,1.415517e+07,1.438128e+07,1.448665e+07,1.473299e+07,1.497587e+07
1095,"Labor force, female (% of total labor force)",4.012260e+01,4.022597e+01,4.025690e+01,3.995722e+01,4.008326e+01,4.020929e+01
1102,"Labor force participation rate, total (% of to...",6.441100e+01,6.440400e+01,6.428300e+01,6.364300e+01,6.363300e+01,6.360800e+01
1104,"Labor force participation rate, male (% of mal...",7.816400e+01,7.806700e+01,7.792300e+01,7.757600e+01,7.744100e+01,7.728500e+01
1106,Ratio of female to male labor force participat...,6.526662e+01,6.547196e+01,6.548388e+01,6.460375e+01,6.487778e+01,6.515753e+01
1108,"Labor force participation rate, female (% of f...",5.101500e+01,5.111200e+01,5.102700e+01,5.011700e+01,5.024200e+01,5.035700e+01
1116,"Labor force participation rate, total (% of to...",6.792800e+01,6.801900e+01,6.799400e+01,6.744100e+01,6.752300e+01,6.759400e+01
1117,"Labor force participation rate, male (% of mal...",8.123900e+01,8.121100e+01,8.113700e+01,8.086800e+01,8.081600e+01,8.074600e+01
1118,"Labor force participation rate, female (% of f...",5.472900e+01,5.494500e+01,5.497500e+01,5.415000e+01,5.437200e+01,5.458900e+01
1119,"Labor force participation rate for ages 15-24,...",4.083000e+01,4.047200e+01,4.001300e+01,3.911800e+01,3.880500e+01,3.848700e+01
1121,"Labor force participation rate for ages 15-24,...",5.272100e+01,5.197700e+01,5.113400e+01,4.973300e+01,4.938300e+01,4.902300e+01
1123,"Labor force participation rate for ages 15-24,...",2.859900e+01,2.863300e+01,2.856400e+01,2.819100e+01,2.791700e+01,2.764100e+01
1140,Employment in services (% of total employment)...,7.122800e+01,7.070200e+01,6.727900e+01,6.692400e+01,6.652500e+01,6.644600e+01
1141,"Employment in services, male (% of male employ...",5.980100e+01,5.931400e+01,5.558900e+01,5.635900e+01,5.590900e+01,5.546800e+01
1245,"PPG, bonds (AMT, current US$)",1.539523e+09,1.498000e+09,1.193157e+09,1.500057e+09,5.555556e+07,1.308367e+09
1246,"PPG, official creditors (AMT, current US$)",5.285633e+08,1.013296e+09,1.042991e+09,1.829727e+09,1.473933e+09,1.325994e+09
1248,"PPG, multilateral (AMT, current US$)",3.642861e+08,2.950972e+08,3.091155e+08,4.270722e+08,3.102715e+08,5.139789e+08
1252,"Principal repayments on external debt, private...",1.236656e+10,1.240668e+10,1.384931e+10,7.092937e+09,5.890747e+09,9.261692e+09
1253,"Principal repayments on external debt, long-te...",1.457955e+10,1.502687e+10,1.615850e+10,1.048909e+10,7.581376e+09,1.236230e+10
1257,"PPG, bilateral (AMT, current US$)",1.642773e+08,7.181989e+08,7.338755e+08,1.402655e+09,1.163662e+09,8.120155e+08
1272,"Employment in agriculture, female (% of female...",1.332000e+00,1.510000e+00,2.516000e+00,4.291000e+00,3.971000e+00,3.210000e+00
1575,Surface area (sq. km),9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05,9.120500e+05
1583,Land area (sq. km),8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05,8.820500e+05

In [12]:
pd.options.display.float_format = '{:.2f}'.format
cleaner_df

,Unnamed: 2,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
3,Indicator Name,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00
4,"Employment in services, female (% of female em...",88.55,87.87,84.88,83.07,82.68,83.06
5,Child employment in services (% of economicall...,58.86,nan,nan,nan,nan,nan
6,"Child employment in services, male (% of male ...",49.07,nan,nan,nan,nan,nan
7,"Child employment in services, female (% of fem...",81.15,nan,nan,nan,nan,nan
8,"Children in employment, self-employed (% of ch...",27.39,nan,nan,nan,nan,nan
9,"Children in employment, self-employed, male (%...",30.41,nan,nan,nan,nan,nan
10,"Children in employment, self-employed, female ...",20.31,nan,nan,nan,nan,nan
11,Child employment in manufacturing (% of econom...,9.37,nan,nan,nan,nan,nan
12,"Child employment in manufacturing, male (% of ...",9.25,nan,nan,nan,nan,nan
13,"Child employment in manufacturing, female (% o...",9.66,nan,nan,nan,nan,nan
14,Informal employment (% of total non-agricultur...,nan,nan,nan,nan,nan,nan
15,"Informal employment, male (% of total non-agri...",nan,nan,nan,nan,nan,nan
16,"Informal employment, female (% of total non-ag...",nan,nan,nan,nan,nan,nan
17,Employment in industry (% of total employment)...,21.33,21.48,23.65,23.24,23.26,23.56
18,"Employment in industry, male (% of male employ...",28.72,28.69,30.98,30.18,29.78,30.06
19,"Employment in industry, female (% of female em...",10.12,10.62,12.61,12.64,13.35,13.73
20,GDP per person employed (constant 2011 PPP $),41661.41,39077.99,36221.11,32454.98,29143.37,26797.06
21,"Contributing family workers, total (% of total...",2.59,1.87,2.43,3.03,4.41,4.97
22,"Contributing family workers, male (% of male e...",1.86,1.28,1.79,2.44,3.84,4.34
23,"Contributing family workers, female (% of fema...",3.70,2.76,3.39,3.93,5.29,5.93
24,"Children in employment, unpaid family workers ...",46.69,nan,nan,nan,nan,nan
25,"Children in employment, unpaid family workers,...",37.43,nan,nan,nan,nan,nan
26,"Children in employment, unpaid family workers,...",68.39,nan,nan,nan,nan,nan
27,"Wage and salaried workers, total (% of total e...",66.82,67.66,66.83,65.72,64.13,63.61
28,"Wage and salaried workers, male (% of male emp...",64.73,65.32,64.81,64.07,62.76,62.17
29,"Wage and salaried workers, female (% of female...",70.00,71.18,69.87,68.26,66.20,65.78
30,"Vulnerable employment, total (% of total emplo...",29.30,27.76,29.19,30.84,33.01,33.61
31,"Vulnerable employment, male (% of male employm...",30.15,28.62,30.00,31.55,33.68,34.35
32,"Vulnerable employment, female (% of female emp...",28.01,26.45,27.97,29.74,31.99,32.48
...,...,...,...,...,...,...,...
1573,Trade in services (% of GDP),5.80,3.97,nan,nan,nan,nan
1574,Cereal yield (kg per hectare),4007.30,4040.70,3505.70,3426.90,nan,nan
1575,Surface area (sq. km),912050.00,912050.00,912050.00,912050.00,912050.00,912050.00
1576,Livestock production index (2004-2006 = 100),131.93,132.91,134.74,129.80,nan,nan
1577,Food production index (2004-2006 = 100),117.02,117.80,117.15,107.73,nan,nan
1578,Crop production index (2004-2006 = 100),103.95,106.36,98.50,78.49,nan,nan
1579,Cereal production (metric tons),3693974.00,3597762.00,2294532.00,1782326.00,nan,nan
1580,"Agricultural machinery, tractors per 100 sq. k...",nan,nan,nan,nan,nan,nan
1581,Urban land area (sq. km),nan,nan,nan,nan,nan,nan
1582,Rural land area (sq. km),nan,nan,nan,nan,nan,nan
1583,Land area (sq. km),882050.00,882050.00,882050.00,882050.00,882050.00,882050.00
1584,Average precipitation in depth (mm per year),nan,2044.00,nan,nan,nan,nan
1585,Agricultural irrigated land (% of total agricu...,nan,nan,nan,nan,nan,nan
1586,Forest area (% of land area),53.30,53.11,52.93,52.74,nan,nan
1587,Forest area (sq. km),470118.01,468473.98,466830.00,465186.02,nan,nan
1588,Land area where elevation is below 5 meters (%...,nan,nan,nan,nan,nan,nan
1589,Urban land area where elevation is below 5 met...,nan,nan,nan,nan,nan,nan
1590,Urban land area where elevation is below 5 met...,nan,nan,nan,nan,nan,nan
1591,Rural land area where elevation is below 5 met...,nan,nan,nan,nan,nan,nan
1592,Rural land area where elevation is below 5 met...,nan,nan,nan,nan,nan,nan
1593,Permanent cropland (% of land area),0.79,0.79,0.79,0.79,nan,nan
1594,Land under cereal production (hectares),921820.00,890391.00,654509.00,520098.00,nan,nan
1595,Arable land (% of land area),3.06,3.06,3.06,3.06,nan,nan
1596,Arable land (hectares per person),0.09,0.09,0.09,0.09,nan,nan
1597,Arable land (hectares),2700000.00,2700000.00,2700000.00,2700000.00,nan,nan
1598,Agricultural land (% of land area),24.49,24.49,24.49,24.49,nan,nan
1599,Agricultural land (sq. km),216000.00,216000.00,216000.00,216000.00,nan,nan
1600,Fertilizer consumption (kilograms per hectare ...,192.70,181.88,183.47,183.47,nan,nan
1601,Fertilizer consumption (% of fertilizer produc...,54.33,49.78,58.98,58.98,nan,nan
1602,"Agricultural machinery, tractors",nan,nan,nan,nan,nan,nan

In [13]:
d_df=cleaner_df.dropna(how='any')
d_df

,Unnamed: 2,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
3,Indicator Name,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00
4,"Employment in services, female (% of female em...",88.55,87.87,84.88,83.07,82.68,83.06
17,Employment in industry (% of total employment)...,21.33,21.48,23.65,23.24,23.26,23.56
18,"Employment in industry, male (% of male employ...",28.72,28.69,30.98,30.18,29.78,30.06
19,"Employment in industry, female (% of female em...",10.12,10.62,12.61,12.64,13.35,13.73
20,GDP per person employed (constant 2011 PPP $),41661.41,39077.99,36221.11,32454.98,29143.37,26797.06
21,"Contributing family workers, total (% of total...",2.59,1.87,2.43,3.03,4.41,4.97
22,"Contributing family workers, male (% of male e...",1.86,1.28,1.79,2.44,3.84,4.34
23,"Contributing family workers, female (% of fema...",3.70,2.76,3.39,3.93,5.29,5.93
27,"Wage and salaried workers, total (% of total e...",66.82,67.66,66.83,65.72,64.13,63.61
28,"Wage and salaried workers, male (% of male emp...",64.73,65.32,64.81,64.07,62.76,62.17
29,"Wage and salaried workers, female (% of female...",70.00,71.18,69.87,68.26,66.20,65.78
30,"Vulnerable employment, total (% of total emplo...",29.30,27.76,29.19,30.84,33.01,33.61
31,"Vulnerable employment, male (% of male employm...",30.15,28.62,30.00,31.55,33.68,34.35
32,"Vulnerable employment, female (% of female emp...",28.01,26.45,27.97,29.74,31.99,32.48
33,"Employment to population ratio, 15+, total (%)...",59.55,59.93,59.90,59.10,58.76,58.59
35,"Employment to population ratio, 15+, male (%) ...",72.82,73.07,73.06,72.65,71.98,71.72
37,"Employment to population ratio, 15+, female (%...",46.63,47.15,47.11,45.93,45.93,45.88
40,"Self-employed, total (% of total employment) (...",33.18,32.34,33.17,34.28,35.87,36.39
41,"Self-employed, male (% of male employment) (mo...",35.27,34.68,35.19,35.93,37.24,37.83
42,"Self-employed, female (% of female employment)...",30.00,28.82,30.13,31.74,33.80,34.22
43,"Employers, total (% of total employment) (mode...",3.88,4.59,3.98,3.44,2.86,2.78
44,"Employers, male (% of male employment) (modele...",5.12,6.06,5.19,4.38,3.56,3.48
45,"Employers, female (% of female employment) (mo...",1.99,2.37,2.16,2.00,1.81,1.73
46,"Employment to population ratio, ages 15-24, to...",34.25,34.57,34.22,32.95,32.15,31.54
48,"Employment to population ratio, ages 15-24, ma...",45.53,45.45,44.79,43.21,42.10,41.46
50,"Employment to population ratio, ages 15-24, fe...",22.65,23.38,23.33,22.39,21.92,21.33
52,Employment in agriculture (% of total employme...,7.45,7.82,9.08,9.83,10.21,9.99
53,"Employment in agriculture, male (% of male emp...",11.48,12.00,13.44,13.46,14.31,14.48
310,Secure Internet servers (per 1 million people),14.61,16.04,20.70,140.05,269.76,245.70
...,...,...,...,...,...,...,...
1068,"PPG, commercial banks (AMT, current US$)",98165133.00,62432389.80,39176984.40,64635552.20,146234493.40,447482245.90
1070,"Unemployment, total (% of total labor force) (...",7.54,6.95,6.82,7.15,7.66,7.88
1072,"Unemployment, male (% of male labor force) (mo...",6.83,6.40,6.24,6.34,7.05,7.20
1074,"Unemployment, female (% of female labor force)...",8.60,7.76,7.68,8.35,8.58,8.89
1088,"Unemployment, youth total (% of total labor fo...",16.12,14.58,14.49,15.76,17.14,18.04
1090,"Unemployment, youth male (% of male labor forc...",13.65,12.56,12.40,13.11,14.76,15.43
1092,"Unemployment, youth female (% of female labor ...",20.82,18.36,18.33,20.58,21.48,22.82
1094,"Labor force, total",13903768.00,14155174.00,14381283.00,14486651.00,14732987.00,14975868.00
1095,"Labor force, female (% of total labor force)",40.12,40.23,40.26,39.96,40.08,40.21
1102,"Labor force participation rate, total (% of to...",64.41,64.40,64.28,63.64,63.63,63.61
1104,"Labor force participation rate, male (% of mal...",78.16,78.07,77.92,77.58,77.44,77.29
1106,Ratio of female to male labor force participat...,65.27,65.47,65.48,64.60,64.88,65.16
1108,"Labor force participation rate, female (% of f...",51.01,51.11,51.03,50.12,50.24,50.36
1116,"Labor force participation rate, total (% of to...",67.93,68.02,67.99,67.44,67.52,67.59
1117,"Labor force participation rate, male (% of mal...",81.24,81.21,81.14,80.87,80.82,80.75
1118,"Labor force participation rate, female (% of f...",54.73,54.94,54.97,54.15,54.37,54.59
1119,"Labor force participation rate for ages 15-24,...",40.83,40.47,40.01,39.12,38.81,38.49
1121,"Labor force participation rate for ages 15-24,...",52.72,51.98,51.13,49.73,49.38,49.02
1123,"Labor force participation rate for ages 15-24,...",28.60,28.63,28.56,28.19,27.92,27.64
1140,Employment in services (% of total employment)...,71.23,70.70,67.28,66.92,66.53,66.45
1141,"Employment in services, male (% of male employ...",59.80,59.31,55.59,56.36,55.91,55.47
1245,"PPG, bonds (AMT, current US$)",1539523000.00,1498000000.00,1193157434.00,1500057000.00,55555555.60,1308366556.00
1246,"PPG, official creditors (AMT, current US$)",528563332.50,1013296071.00,1042990987.00,1829727445.00,1473933474.00,1325994334.00
1248,"PPG, multilateral (AMT, current US$)",364286052.50,295097220.70,309115452.50,427072194.10,310271548.60,513978878.90
1252,"Principal repayments on external debt, private...",12366557000.00,12406680000.00,13849314000.00,7092937000.00,5890747000.00,9261692000.00
1253,"Principal repayments on external debt, long-te...",14579549274.00,15026872801.00,16158504547.00,10489087523.00,7581376482.00,12362297678.00
1257,"PPG, bilateral (AMT, current US$)",164277280.00,718198850.10,733875534.70,1402655251.00,1163661926.00,812015455.20
1272,"Employment in agriculture, female (% of female...",1.33,1.51,2.52,4.29,3.97,3.21
1575,Surface area (sq. km),912050.00,912050.00,912050.00,912050.00,912050.00,912050.00
1583,Land area (sq. km),882050.00,882050.00,882050.00,882050.00,882050.00,882050.00

In [14]:
new_df= d_df.rename(columns={"Unnamed: 2": "Indicator Name", "Unnamed: 57": "2013", "Unnamed: 58": "2014", "Unnamed: 59": "2015", "Unnamed: 60": "2016", "Unnamed: 61": "2017", "Unnamed: 62": "2018"})
new_df

,Indicator Name,2013,2014,2015,2016,2017,2018
3,Indicator Name,2013.00,2014.00,2015.00,2016.00,2017.00,2018.00
4,"Employment in services, female (% of female em...",88.55,87.87,84.88,83.07,82.68,83.06
17,Employment in industry (% of total employment)...,21.33,21.48,23.65,23.24,23.26,23.56
18,"Employment in industry, male (% of male employ...",28.72,28.69,30.98,30.18,29.78,30.06
19,"Employment in industry, female (% of female em...",10.12,10.62,12.61,12.64,13.35,13.73
20,GDP per person employed (constant 2011 PPP $),41661.41,39077.99,36221.11,32454.98,29143.37,26797.06
21,"Contributing family workers, total (% of total...",2.59,1.87,2.43,3.03,4.41,4.97
22,"Contributing family workers, male (% of male e...",1.86,1.28,1.79,2.44,3.84,4.34
23,"Contributing family workers, female (% of fema...",3.70,2.76,3.39,3.93,5.29,5.93
27,"Wage and salaried workers, total (% of total e...",66.82,67.66,66.83,65.72,64.13,63.61
28,"Wage and salaried workers, male (% of male emp...",64.73,65.32,64.81,64.07,62.76,62.17
29,"Wage and salaried workers, female (% of female...",70.00,71.18,69.87,68.26,66.20,65.78
30,"Vulnerable employment, total (% of total emplo...",29.30,27.76,29.19,30.84,33.01,33.61
31,"Vulnerable employment, male (% of male employm...",30.15,28.62,30.00,31.55,33.68,34.35
32,"Vulnerable employment, female (% of female emp...",28.01,26.45,27.97,29.74,31.99,32.48
33,"Employment to population ratio, 15+, total (%)...",59.55,59.93,59.90,59.10,58.76,58.59
35,"Employment to population ratio, 15+, male (%) ...",72.82,73.07,73.06,72.65,71.98,71.72
37,"Employment to population ratio, 15+, female (%...",46.63,47.15,47.11,45.93,45.93,45.88
40,"Self-employed, total (% of total employment) (...",33.18,32.34,33.17,34.28,35.87,36.39
41,"Self-employed, male (% of male employment) (mo...",35.27,34.68,35.19,35.93,37.24,37.83
42,"Self-employed, female (% of female employment)...",30.00,28.82,30.13,31.74,33.80,34.22
43,"Employers, total (% of total employment) (mode...",3.88,4.59,3.98,3.44,2.86,2.78
44,"Employers, male (% of male employment) (modele...",5.12,6.06,5.19,4.38,3.56,3.48
45,"Employers, female (% of female employment) (mo...",1.99,2.37,2.16,2.00,1.81,1.73
46,"Employment to population ratio, ages 15-24, to...",34.25,34.57,34.22,32.95,32.15,31.54
48,"Employment to population ratio, ages 15-24, ma...",45.53,45.45,44.79,43.21,42.10,41.46
50,"Employment to population ratio, ages 15-24, fe...",22.65,23.38,23.33,22.39,21.92,21.33
52,Employment in agriculture (% of total employme...,7.45,7.82,9.08,9.83,10.21,9.99
53,"Employment in agriculture, male (% of male emp...",11.48,12.00,13.44,13.46,14.31,14.48
310,Secure Internet servers (per 1 million people),14.61,16.04,20.70,140.05,269.76,245.70
...,...,...,...,...,...,...,...
1068,"PPG, commercial banks (AMT, current US$)",98165133.00,62432389.80,39176984.40,64635552.20,146234493.40,447482245.90
1070,"Unemployment, total (% of total labor force) (...",7.54,6.95,6.82,7.15,7.66,7.88
1072,"Unemployment, male (% of male labor force) (mo...",6.83,6.40,6.24,6.34,7.05,7.20
1074,"Unemployment, female (% of female labor force)...",8.60,7.76,7.68,8.35,8.58,8.89
1088,"Unemployment, youth total (% of total labor fo...",16.12,14.58,14.49,15.76,17.14,18.04
1090,"Unemployment, youth male (% of male labor forc...",13.65,12.56,12.40,13.11,14.76,15.43
1092,"Unemployment, youth female (% of female labor ...",20.82,18.36,18.33,20.58,21.48,22.82
1094,"Labor force, total",13903768.00,14155174.00,14381283.00,14486651.00,14732987.00,14975868.00
1095,"Labor force, female (% of total labor force)",40.12,40.23,40.26,39.96,40.08,40.21
1102,"Labor force participation rate, total (% of to...",64.41,64.40,64.28,63.64,63.63,63.61
1104,"Labor force participation rate, male (% of mal...",78.16,78.07,77.92,77.58,77.44,77.29
1106,Ratio of female to male labor force participat...,65.27,65.47,65.48,64.60,64.88,65.16
1108,"Labor force participation rate, female (% of f...",51.01,51.11,51.03,50.12,50.24,50.36
1116,"Labor force participation rate, total (% of to...",67.93,68.02,67.99,67.44,67.52,67.59
1117,"Labor force participation rate, male (% of mal...",81.24,81.21,81.14,80.87,80.82,80.75
1118,"Labor force participation rate, female (% of f...",54.73,54.94,54.97,54.15,54.37,54.59
1119,"Labor force participation rate for ages 15-24,...",40.83,40.47,40.01,39.12,38.81,38.49
1121,"Labor force participation rate for ages 15-24,...",52.72,51.98,51.13,49.73,49.38,49.02
1123,"Labor force participation rate for ages 15-24,...",28.60,28.63,28.56,28.19,27.92,27.64
1140,Employment in services (% of total employment)...,71.23,70.70,67.28,66.92,66.53,66.45
1141,"Employment in services, male (% of male employ...",59.80,59.31,55.59,56.36,55.91,55.47
1245,"PPG, bonds (AMT, current US$)",1539523000.00,1498000000.00,1193157434.00,1500057000.00,55555555.60,1308366556.00
1246,"PPG, official creditors (AMT, current US$)",528563332.50,1013296071.00,1042990987.00,1829727445.00,1473933474.00,1325994334.00
1248,"PPG, multilateral (AMT, current US$)",364286052.50,295097220.70,309115452.50,427072194.10,310271548.60,513978878.90
1252,"Principal repayments on external debt, private...",12366557000.00,12406680000.00,13849314000.00,7092937000.00,5890747000.00,9261692000.00
1253,"Principal repayments on external debt, long-te...",14579549274.00,15026872801.00,16158504547.00,10489087523.00,7581376482.00,12362297678.00
1257,"PPG, bilateral (AMT, current US$)",164277280.00,718198850.10,733875534.70,1402655251.00,1163661926.00,812015455.20
1272,"Employment in agriculture, female (% of female...",1.33,1.51,2.52,4.29,3.97,3.21
1575,Surface area (sq. km),912050.00,912050.00,912050.00,912050.00,912050.00,912050.00
1583,Land area (sq. km),882050.00,882050.00,882050.00,882050.00,882050.00,882050.00

In [15]:
almost_df= new_df.drop ([3])
almost_df

,Indicator Name,2013,2014,2015,2016,2017,2018
4,"Employment in services, female (% of female em...",88.55,87.87,84.88,83.07,82.68,83.06
17,Employment in industry (% of total employment)...,21.33,21.48,23.65,23.24,23.26,23.56
18,"Employment in industry, male (% of male employ...",28.72,28.69,30.98,30.18,29.78,30.06
19,"Employment in industry, female (% of female em...",10.12,10.62,12.61,12.64,13.35,13.73
20,GDP per person employed (constant 2011 PPP $),41661.41,39077.99,36221.11,32454.98,29143.37,26797.06
21,"Contributing family workers, total (% of total...",2.59,1.87,2.43,3.03,4.41,4.97
22,"Contributing family workers, male (% of male e...",1.86,1.28,1.79,2.44,3.84,4.34
23,"Contributing family workers, female (% of fema...",3.70,2.76,3.39,3.93,5.29,5.93
27,"Wage and salaried workers, total (% of total e...",66.82,67.66,66.83,65.72,64.13,63.61
28,"Wage and salaried workers, male (% of male emp...",64.73,65.32,64.81,64.07,62.76,62.17
29,"Wage and salaried workers, female (% of female...",70.00,71.18,69.87,68.26,66.20,65.78
30,"Vulnerable employment, total (% of total emplo...",29.30,27.76,29.19,30.84,33.01,33.61
31,"Vulnerable employment, male (% of male employm...",30.15,28.62,30.00,31.55,33.68,34.35
32,"Vulnerable employment, female (% of female emp...",28.01,26.45,27.97,29.74,31.99,32.48
33,"Employment to population ratio, 15+, total (%)...",59.55,59.93,59.90,59.10,58.76,58.59
35,"Employment to population ratio, 15+, male (%) ...",72.82,73.07,73.06,72.65,71.98,71.72
37,"Employment to population ratio, 15+, female (%...",46.63,47.15,47.11,45.93,45.93,45.88
40,"Self-employed, total (% of total employment) (...",33.18,32.34,33.17,34.28,35.87,36.39
41,"Self-employed, male (% of male employment) (mo...",35.27,34.68,35.19,35.93,37.24,37.83
42,"Self-employed, female (% of female employment)...",30.00,28.82,30.13,31.74,33.80,34.22
43,"Employers, total (% of total employment) (mode...",3.88,4.59,3.98,3.44,2.86,2.78
44,"Employers, male (% of male employment) (modele...",5.12,6.06,5.19,4.38,3.56,3.48
45,"Employers, female (% of female employment) (mo...",1.99,2.37,2.16,2.00,1.81,1.73
46,"Employment to population ratio, ages 15-24, to...",34.25,34.57,34.22,32.95,32.15,31.54
48,"Employment to population ratio, ages 15-24, ma...",45.53,45.45,44.79,43.21,42.10,41.46
50,"Employment to population ratio, ages 15-24, fe...",22.65,23.38,23.33,22.39,21.92,21.33
52,Employment in agriculture (% of total employme...,7.45,7.82,9.08,9.83,10.21,9.99
53,"Employment in agriculture, male (% of male emp...",11.48,12.00,13.44,13.46,14.31,14.48
310,Secure Internet servers (per 1 million people),14.61,16.04,20.70,140.05,269.76,245.70
311,Secure Internet servers,443.00,493.00,645.00,4421.00,8626.00,7956.00
...,...,...,...,...,...,...,...
1068,"PPG, commercial banks (AMT, current US$)",98165133.00,62432389.80,39176984.40,64635552.20,146234493.40,447482245.90
1070,"Unemployment, total (% of total labor force) (...",7.54,6.95,6.82,7.15,7.66,7.88
1072,"Unemployment, male (% of male labor force) (mo...",6.83,6.40,6.24,6.34,7.05,7.20
1074,"Unemployment, female (% of female labor force)...",8.60,7.76,7.68,8.35,8.58,8.89
1088,"Unemployment, youth total (% of total labor fo...",16.12,14.58,14.49,15.76,17.14,18.04
1090,"Unemployment, youth male (% of male labor forc...",13.65,12.56,12.40,13.11,14.76,15.43
1092,"Unemployment, youth female (% of female labor ...",20.82,18.36,18.33,20.58,21.48,22.82
1094,"Labor force, total",13903768.00,14155174.00,14381283.00,14486651.00,14732987.00,14975868.00
1095,"Labor force, female (% of total labor force)",40.12,40.23,40.26,39.96,40.08,40.21
1102,"Labor force participation rate, total (% of to...",64.41,64.40,64.28,63.64,63.63,63.61
1104,"Labor force participation rate, male (% of mal...",78.16,78.07,77.92,77.58,77.44,77.29
1106,Ratio of female to male labor force participat...,65.27,65.47,65.48,64.60,64.88,65.16
1108,"Labor force participation rate, female (% of f...",51.01,51.11,51.03,50.12,50.24,50.36
1116,"Labor force participation rate, total (% of to...",67.93,68.02,67.99,67.44,67.52,67.59
1117,"Labor force participation rate, male (% of mal...",81.24,81.21,81.14,80.87,80.82,80.75
1118,"Labor force participation rate, female (% of f...",54.73,54.94,54.97,54.15,54.37,54.59
1119,"Labor force participation rate for ages 15-24,...",40.83,40.47,40.01,39.12,38.81,38.49
1121,"Labor force participation rate for ages 15-24,...",52.72,51.98,51.13,49.73,49.38,49.02
1123,"Labor force participation rate for ages 15-24,...",28.60,28.63,28.56,28.19,27.92,27.64
1140,Employment in services (% of total employment)...,71.23,70.70,67.28,66.92,66.53,66.45
1141,"Employment in services, male (% of male employ...",59.80,59.31,55.59,56.36,55.91,55.47
1245,"PPG, bonds (AMT, current US$)",1539523000.00,1498000000.00,1193157434.00,1500057000.00,55555555.60,1308366556.00
1246,"PPG, official creditors (AMT, current US$)",528563332.50,1013296071.00,1042990987.00,1829727445.00,1473933474.00,1325994334.00
1248,"PPG, multilateral (AMT, current US$)",364286052.50,295097220.70,309115452.50,427072194.10,310271548.60,513978878.90
1252,"Principal repayments on external debt, private...",12366557000.00,12406680000.00,13849314000.00,7092937000.00,5890747000.00,9261692000.00
1253,"Principal repayments on external debt, long-te...",14579549274.00,15026872801.00,16158504547.00,10489087523.00,7581376482.00,12362297678.00
1257,"PPG, bilateral (AMT, current US$)",164277280.00,718198850.10,733875534.70,1402655251.00,1163661926.00,812015455.20
1272,"Employment in agriculture, female (% of female...",1.33,1.51,2.52,4.29,3.97,3.21
1575,Surface area (sq. km),912050.00,912050.00,912050.00,912050.00,912050.00,912050.00
1583,Land area (sq. km),882050.00,882050.00,882050.00,882050.00,882050.00,882050.00

In [16]:
# Transform DF to dict
records_ = almost_df.to_dict(orient = 'records')

In [17]:
# Load data to mongodb
result = db.worldbank.insert_many(records_ )